<div class="card mb-4 box-shadow">
  <a [routerLink]="['movie-detail/', movie.id]">
    <img class="card-img-top"
         [src]="imgUrl + movie.poster_path || 'assets/thumb.svg'"
         onerror="this.src='assets/thumb.svg'"
         [alt]="movie.title"
         [title]="movie.title">
  </a>
  <div class="card-body">
    <h5 class="card-title" [title]="movie.title">
      <a [routerLink]="['movie-detail/', movie.id]">
        {{movie.title}}
      </a>
    </h5>
    <p class="card-text block-with-text">
      <a [routerLink]="['movie-detail/', movie.id]">{{movie.overview}}</a>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a class="btn btn-sm btn-outline-secondary"
           role="button" [routerLink]="['movie-detail/', movie.id]">
          Detalhes
        </a>
        <button type="button" class="btn btn-sm btn-outline-danger">
          <i class="fas fa-heart"></i> Favoritar
        </button>
      </div>
      <small class="text-muted" [title]="movie.release_date | date:'dd MMMM yyyy':'':'pt'">
        {{movie.release_date | date:'dd MMM yyyy':'':'pt'}}
      </small>
    </div>
  </div>
</div>
