<div class="movie-container mt-5 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-4 d-none d-md-block d-lg-block d-xl-block">
        <img src="assets/thumb.svg" class="movie-thumb rounded" alt="">
      </div>
      <div class="col-12 col-md-6 col-lg-8">
        <h1>
          Deadpool 2

          <p class="lead float-right">
            <i class="fas fa-heart"></i>
          </p>

          <p class="lead">(2018)</p>

        </h1>
        <p class="lead">
          Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
      </div>
    </div>
  </div>
</div>
