.movie-thumb {
  display: block;
  width: 100%;
  height: 450px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.movie-container {
  background-image: radial-gradient(circle at 20% 50%, rgba(18.82%, 14.90%, 12.94%, 0.98) 0%, rgba(18.82%, 14.90%, 12.94%, 0.88) 100%);
  padding: 20px;
}
