<div class="movie-container mt-5 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-4 d-none d-md-block d-lg-block d-xl-block">

        <img class="movie-thumb rounded"
             [src]="movie?.poster_path ? imgUrl + movie?.poster_path : 'assets/thumb.svg'"
             onerror="this.src='assets/thumb.svg'"
             [alt]="movie?.title">
      </div>
      <div class="col-12 col-md-6 col-lg-8">
        <h1>
          {{movie?.title}}

          <p class="lead float-right">
            <i class="fas fa-heart"></i>
          </p>

          <p class="lead">
            Data de lançamento: {{movie?.release_date | date:'dd MMMM yyyy':'':'pt'}} |
            <ng-container *ngIf="movie?.release_date">
            {{days + 1 + 'd ' +  hours + 'h ' + minutes + 'm ' + seconds + 's'}}
            </ng-container>
          </p>

        </h1>
        <p>
          {{movie?.overview}}
        </p>

        <p clpss="lead" style="font-weight: bolder;">
          Direção
        </p>
        <ol class="cast-list">
          <li class="cast-item" *ngFor="let crew of movieCrewDirectiong">
            <p class="people">{{crew.name}}</p>
            <p class="job">{{crew.job}}</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
