<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
      <div class="info">
        <div class="icon icon-default">
          <i class="material-icons">timer</i>
        </div>
        <h4 class="info-title">Movie Countdown</h4>
        <p>
          O site Movie Countdown é um projeto desenvolvido por
          <a href="https://jhonatanmedeiros.com/">Jhonatan Hardt de Medeiros © 2018</a>.
        </p>
        <div class="social-line">
          <a href="https://jhonatanmedeiros.com/" title="Jhonatan Hardt de Medeiros">
            <i class="fa fa-globe fa-2x"></i>
          </a>
          <a href="https://www.linkedin.com/in/jhonatan-hardt-de-medeiros/" title="Linkedin">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
          <a href="https://github.com/JhonatanMedeiros" title="GitHub">
            <i class="fa fa-github-square fa-2x"></i>
          </a>
          <a href="mailto:contato@jhonatanmedeiros.com" title="E-mail">
            <i class="fa fa-envelope-square fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
      <div class="info">
        <a href="https://www.themoviedb.org/" title="The Movie Database">
          <img class="tmdb-logo" src="assets/the-movie-db/the-movie-db_logo_1.svg" alt="The Movie Database">
        </a>
        <h4 class="info-title">The Movie Database</h4>
        <p>
          "Este produto usa a API do TMDb, mas não é endossado nem certificado pelo
          <a href="https://www.themoviedb.org/" title="The Movie Database">TMDb</a>."
          <br>
          "This product uses the TMDb API but is not endorsed or certified by
          <a href="https://www.themoviedb.org/" title="The Movie Database">TMDb</a>."
        </p>
      </div>
    </div>
  </div>
</div>
