.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand, .nav-item {
  cursor: pointer;
}

/deep/ .breadcrumb {
  li {
    cursor: pointer;
  }
  .active {
    cursor: default !important;
  }
}

