<div class="container mt-5">

  <div class="media-bg">
    <ul class="list-unstyled">
      <li class="media"
          *ngFor="let movie of movieList; let first = first"
          [ngClass]="{'my-4': !first}"
      >
        <a [routerLink]="['/home/movie-detail/', movie.id]">
          <img class="mr-3 movie-thumb"
               [src]="imgUrl + movie.poster_path || 'assets/thumb.svg'"
               onerror="this.src='assets/thumb.svg'"
               [alt]="movie.title"
               [title]="movie.title">
        </a>

        <div class="media-body">
          <a [routerLink]="['/home/movie-detail/', movie.id]">
            <h5 class="mt-0" [title]="movie.title">
              {{movie.title}}
            </h5>
          </a>
          <a [routerLink]="['/home/movie-detail/', movie.id]">
            <p>
              {{movie.overview}}
            </p>
          </a>
          <!--<p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->
        </div>
      </li>
    </ul>
  </div>

</div>
