.media-bg {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.movie-thumb {
  height: 16rem;
  width: 13rem;
  transition: transform .6s;

  &:hover {
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

}

.media-body a, a:hover {
  color: #212529 !important;
  text-decoration: none;
}

@media (max-width: 576px) {
  .movie-thumb {
    height: 11rem;
    width: 7rem;
  }
}
